body {
  background-color: #333;
  color: #CCC;
  margin: 10px 0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}
pre {
  margin: 0;
}
pre:hover {
  background-color: #222;
}
::selection {
  color: #333;
  background-color: #FFF;
}
.line-number {
  color: #999;
  display: inline-block;
  width: 75px;
  text-align: right;
  margin-right: 15px;
}
.line-number::after {
  content: ".";
}
.duration, .exit-code {
  float: right;
  display: block;
  border-radius: 7px;
  padding: 0 5px;
  margin: 1px 5px;
  color: #FFF;
  font-size: 12px;
}
.duration{
  background-color: #999;
}
.exit-code {
  background-color: #666;
}
.allow-expansion {
  cursor: pointer;
}
.allow-expansion>.cmd::before {
  content: "+";
  margin: 0 4px;
  position: absolute;
}
.expanded {
  background-color: #292929;
}
.expanded>.cmd::before {
  content: "-";
  margin: 0 4px;
  position: absolute;
}
.output {
  display: none;
}
.expanded .output {
  display: block;
}
.alert {
  background-color: #C33;
}
.ansi-bold {
  font-weight: 700
}
.ansi-fg-black {
  color: #4E4E4E
}
.ansi-fg-red {
  color: #FF6C60
}
.ansi-fg-green {
  color: #0A0
}
.ansi-fg-yellow {
  color: #FFFFB6
}
.ansi-fg-blue {
  color: #96CBFE
}
.ansi-fg-magenta {
  color: #FF73FD
}
.ansi-fg-cyan {
  color: #5FF
}
.ansi-fg-white {
  color: #EEE
}
.ansi-fg-grey {
  color: #969696
}
.ansi-bg-black {
  background-color: #4E4E4E
}
.ansi-bg-red {
  background-color: #FF6C60
}
.ansi-bg-green {
  background-color: #0A0
}
.ansi-bg-yellow {
  background-color: #FFFFB6
}
.ansi-bg-blue {
  background-color: #96CBFE
}
.ansi-bg-magenta {
  background-color: #FF73FD
}
.ansi-bg-cyan {
  background-color: #0AA
}
.ansi-bg-white {
  background-color: #EEE
}

